*{
    margin:0;
}

body {
    background-color: #f1f1f1;
    font-family: 'Poppins';
    margin:0;
}

.nav{
    display:grid;
    grid-template-columns: 1fr 0.7fr ;
    padding:0;
    align-items: center;
    height: 3vh;
    
}
.nav >h2 {
    font-size:1.5em;
    background:red;
    
}

.nav__text ul{
    display:flex;
    justify-content: space-around;
    list-style: none;
    background-color: aqua;
    padding:0;
    
    

}

.nav--text li {
    padding:0px;
    
    
    
}

.container {
    background: rgb(0,132,255);
    height:20vh;
    padding: 5em;
    color:white;
    margin-top:7px;
}

h1{
    font-size: 4em;
}

p{
    font-size: 1.1em;
    line-height: 1.6em;
}

a.cta{
    display:inline-block ;
    padding:.5em;
    background:rgb(242,255,196);
    border-radius:10px;
    color: rgb(0,132,255);
    text-decoration:none;
    margin-top: 20px;
    font-size:1.3em;
    font-weight: bold;
}

